:root {
  --back-color: #222;
  --fore-color: #eee;
  --link-color: #eee;
}

fieldset {
  border: 1px dotted gray;
  padding: 0;

  .display-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.1rem;
  }

  legend {
    margin-bottom: .5rem;
  }

  label {
    background: #ddd;
    color: #222;
    border: 1px outset gray;
    border-radius: .3rem;
    display: inline-block;
    padding: .9rem .5rem .9rem .1rem;
    min-width: 7.5rem;

    span {
      display: inline-block;
      margin-left: .2rem;
    }
  }
}

output {
  line-height: 1.6;

  &[ aria-live = off ] {
    font-size: small;
  }
}

form {
  font-size: x-large;

  button {
    font-size: inherit;
    padding: .5rem 1rem;
  }
}

footer {
  border-top: 1px solid gray;
  margin-top: 2rem;

  button {
    margin-left: .6rem;
    padding: .15rem .5rem;
  }
}

body {
  background-color: var(--back-color);
  color: var(--fore-color);
  font-family: sans-serif;
  margin: auto;
  max-width: 34rem;
  padding: 0 1rem;

  a[ href ] {
    color: var(--link-color);
  }
}

* {
  outline-offset: .2rem;
  text-underline-offset: .2rem;
}
