fieldset {
  border: 1px dotted gray;
  padding: 0;

  x-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
  }

  label {
    background: #eee;
    border: 1px solid gray;
    display: inline-block;
    padding: .9rem .5rem .9rem .1rem;
    min-width: 7rem;
  }
}

button {
  font-size: inherit;
  padding: .5rem 1rem;
}

form {
  font-size: x-large;
}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 34rem;
  padding: 0 1rem;
}
